#favorites-index img {
  width: 300px;
  height: 250px;
}

#games-index img {
  padding: 1rem;
  width: 300px;
  height: 250px;
}

#games-index {
  padding: 1rem;
}

#games-show img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.card {
  padding: 0.1rem;
  margin-top: 40px;
  margin-left: 10px;
}

body {
  background-color: lightblue;
}